@font-face {
    font-family: Raleway;
    src: url("https://fonts.googleapis.com/css?family=Raleway");
    font-display: swap;
}

body {
    font-family: Raleway, Helvetica, sans-serif;
}

body, html {
    height: 100%;
}

main {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1; /* Makes perfect squares */
    border-radius: 12px;
    /* background: linear-gradient(135deg, #667eea, #764ba2); */
    display: flex;
    justify-content: left;
    align-items: center;
}

.gallery-item img {
    object-fit: contain;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

/* Change the gradients in gallery items */
/*
.gallery-item:nth-child(even) {
    background: linear-gradient(135deg, #f6d365, #fda085);
}
*/

.gallery-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent);
    animation: shimmer 2s infinite;
}

@keyframes shimmer {
    100% {
        left: 150%;
    }
}

/* Shows full image at once when open in modal no matter the screen size */
.modal-image {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    animation: zoom 0.3s ease;
    margin: auto;
}

@keyframes zoom {
    from {
        transform: scale(.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Arrows */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.close {
    position: absolute;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 60;
}

.prev {
    left: 20px;
    z-index: 20;
}

.next {
    right: 20px;
    z-index: 10;
}
